##CS50P Project

#pip-installable libraries
- fpdf2

# libraries that used in the project
- os
- fpdf

# How to run the project
- run the command `python3 main.py` in the terminal
- the program will ask you to enter details about yourself to generate a resume
- the program will generate a pdf file with the name `resume.pdf` in the same directory
- open the pdf file to see the resume

# How to install the fpdf2 library
- run the command `pip install fpdf2` in the terminal

# Note: 
The statements that will used to take user input are commented out in the code to avoid the input process during the 
grading process because it will take too much time to enter the details manually. To test the program, you can uncomment 
the statements that take user input and run the program and you need to comment out the statements that assign the values 
to the variables manually.
